:root {
    /* Colors */
    --base-color      : #3498DB;
    --second-color    : #69A8E7;
    --black-color     : #000000;
    --grey-color      : #6F6F6F;
    --white-color     : #FFFFFF;
    --cyan-Blue-color : #F6F9FC;
}
/* style of input type:radio */
input[type="radio"]{
    -webkit-appearance : none;
    appearance         : none;
    width              : 30px;
    height             : 30px;
    margin             : calc(0.75em - 11px) 0.25rem 0 0;
    vertical-align     : top;
    border             : 2px solid #ddd;
    border-radius      : 4px;
    background         : var(--white-color) no-repeat center center;
}
input[type="radio"]{
    border-radius      : 50%;
}
input[type="radio"]:where(:active:not(:disabled), :focus){
    border-color      : var(--base-color);
    background-color  : var(--base-color);
    outline           : none;
}

input[type="text"],[type="password"]{
    width             : 100%;
    height            : 50px;
    text-align        : right;
    padding-right     : 15px;
    border-radius     : 16px;
}

input[type="submit"],#btn{
    width             : 50%;
    height            : 50px;
    margin-left       : 25%;
    border-radius     : 16px;
    background-color  : var(--base-color);
    border            : 0px;
    font-weight       : bold;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--cyan-Blue-color);
}


/* Home Page */
body #home,#sign{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body #home #home-logo{
    height: 95vh;
}
body #home #home-text,#sign-form{
    height: 95vh;
    background-color: var(--second-color);
    border-radius: 16px;
    text-align:right;
}
body #home #home-text-text{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body #home #home-text-text a{
    color: var(--base-color);
}


/* Sign Page */
body #sign #sign-form #menu-sign{
    height: 10vh;
}
body #sign #sign-form #menu-sign a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px 16px 0px 0px;
}
body #sign #sign-form #menu-sign .active{
    background-color: var(--base-color);
}

body #sign #signin,#signup{
    width: 80%;
    height: 85vh;
    margin-left: 10%;
}
body #sign p{
    color: var(--grey-color);
}


/* Assidbar */
@media screen and (max-width: 1200px) {
    body #assidBar{
        width: 250px;
        position: absolute !important;
        z-index: 999;
        display: none !important;
    }
    body #btn_assidBar{
        display: block !important;
    }
}